@font-face
{
    font-family: 'JetBrainsMono';
    src: url(../assets/fonts/woff2/JetBrainsMono-VariableFont_wght.woff2) format('woff2')
         url(../assets/fonts/ttf/JetBrainsMono-VariableFont_wght.ttf) format('truetype');

    font-weight: 100 800;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url(../assets/fonts/woff2/JetBrainsMono-Italic-VariableFont_wght.woff2) format('woff2'),
         url(../assets/fonts/ttf/JetBrainsMono-Italic-VariableFont_wght.ttf) format('truetype');
    
    font-weight: 100 800;
    font-style: italic;
}

@font-face
{
    font-family:  'JetBrainsMono';
    src: url(../assets/fonts/woff2/JetBrainsMono-Bold.woff2) format('woff2'),
         url(../assets/fonts/ttf/JetBrainsMono-Bold.ttf)  format('truetype');
    
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url(../assets/fonts/woff2/JetBrainsMono-BoldItalic.woff2) format('woff2')
         url(../assets/fonts/ttf/JetBrainsMono-BoldItalic.ttf) format('truetype');

    font-weight: bold;
    font-style: italic;
}