
@import url(components.css);
@import url(fonts.css);
@import url(variables.css);

body
{
    min-height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;

    background: var(--gradient);
}

#form
{
    display: flex;
    flex-direction: column;

    gap: var(--spacing-200);

    width: 30rem;
}

#password
{
    width: inherit;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

#generate-button
{
    width: 100%;
}


/* Specific blocks */

/* Above text */

.title
{
    text-align: center;
    color: var(--grey-600);
}

/* Generated password widget */

.generated
{
    display: flex;

    align-items: center;
    justify-content: center;

    overflow-y: hidden;

    width: 100%;
    height: var(--spacing-700);

    padding: var(--spacing-200) var(--spacing-200);

    resize: none;

    color: var(--white);
    line-height: var(--spacing-700);
    white-space: nowrap;
    overflow-x: hidden;
}

.generated:hover
{
    cursor: text;
}

.generated:focus
{
    outline: 0;
}

.copy
{
    position: absolute;
    right: var(--spacing-200);

    transition: filter 0.1s;

    display: flex;
    gap: var(--spacing-200);
    align-items: center;
}

.copy::before
{
    content: "COPIED";
    color: var(--green);

    font-family: 'JetBrainsMono';

    display: none;

    font-size: var(--small-paragraph-size);
}

.copy[data-copy-state="appear"]::before
{
    animation: copy-text-appear 0.5s;
    display: block;
}

.copy[data-copy-state="disappear"]::before
{
    animation: copy-text-disappear 0.2s;
    display: block;
}

@keyframes copy-text-appear 
{
    from
    {
        transform: translateX(10%);
        opacity: 0%;
    }   

    to
    {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes copy-text-disappear
{
    from
    {
        transform: translateX(0);
        opacity: 100%; 
    }

    to
    {
        transform: translateX(10%);
        opacity: 0%; 
    }
}

.copy:hover
{
    cursor: pointer;
    filter: brightness(100);
}


/* Generator modifiers */

.counter
{
    color:var(--green);
}


/* Strength meter modifiers */

.lighter
{
    color:var(--grey-600);
}

.inner--widget
{
    padding: 0 var(--spacing-400);
    background-color: var(--grey-850);
}

/* Generate button modifier */

.generate
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-300);

    position: relative;

    outline: 1px solid var(--green);

    padding: var(--spacing-200) 0;

    color: var(--green);

    transition: background-color 0.2s, color 0.2s;
}

.generate:hover
{
    background-color: var(--green);
    color: var(--black);
}

.generate svg path
{
    transition: fill 0.2s;
}

.generate:hover svg path
{
    fill: var(--black);
}

.bar
{
    display: flex;
    align-items: center;

    justify-content: space-between;

    gap: var(--spacing-100);
}

@media (max-width: 32rem) 
{
    :root
    {
        --big-header-size: 1.8rem;
        --small-header-size: 1.2rem;
        --big-paragraph-size: 1rem;
        --small-paragraph-size: 1rem;

        --spacing-400: 1rem;
    }

    #form
    {
        width: 22rem;
    }
}