
#form
{
    display: flex;
    flex-direction: column;

    width: 30rem;

    fieldset
    {
        display: flex;
        flex-direction: column;
    }
}

#form > #password-text
{
    width: inherit;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    textarea
    {
        width: inherit;
        resize: none;
    }

    button#copy-to-clipboard
    {
        position: absolute;
        right: 5px;

        background: none;
        border: 0;
    }
}

#strength-checker
{
    display: flex;
    justify-content: space-between;
}